.DS_Store
*.swp
html/scripts/chester.js
html/scripts/main-built.js
html/chester.js
html/chester.js.map
html/test_lessons.html
html/chesterGL
html/chesterGL-latest.zip
doc/
release/
developer.mk

# remove this after the iOS project is working properly
iOS/
.svn
closure-library/
*.flags

# remove build script
build.bat

node_modules/